.wrap >.container {
    margin-top: 100px;
}

/*Index view*/

.post {
    position: relative;
    text-align: center;
}

.post div {
    margin-bottom: 15px;
}

.post__image {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    max-height: 400px;
}

.post__image img {
    display: inline-block;
}

.post__title a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.post__text {
    text-align: justify;
}

.post__control_panel {
    top: 15px;
    right: 0;
    position: absolute;
}


.control_panel__text {
    color: green;
    font-weight: bold;
}

/* Comments */

.comments {
    display: none;
    text-align: left;
}

.comment {
    margin-left: 15px;
    padding-left: 10px;
    border-left: 1px dotted black;
    border-bottom: 1px dotted black;
}

.comment__author {
    display: inline-block;
}

.comment__date {
    display: inline-block;
    margin-left: 20px;
}

.comment__reply {
    display: inline-block;
    color: blue;
    font-style: italic;
    cursor: pointer;
}

/* Comment form */

.comment_send .form-group {
    
}

/* Upload view */
.blog__upload_img {
    display: none;
}